.logo {
    height: 50px;
    width: 50px;
    margin-top: 0.7rem;
}

.title {
    border: 2px solid black;
    margin: 0.3rem;
    padding: 0.2rem;
    border-radius: 1.5rem;
}

.univ {
    margin-bottom: 0.2rem;
}

.user-info {
    margin: 1rem;
    padding: 0.2rem;
    border-radius: 1.5rem;
    border: 2px solid black;

}

.user-info1 {
    border-bottom: 2px solid black;
}

.info {
    border: 2px solid black;
    background-color: rgb(138, 114, 245);
}

#output {
    border: 1px solid black;
    min-height: 250px;
    width: 250px;
}
